td{
    text-align: center;
}
.f {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .f h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .f div {
    margin-bottom: 15px;
  }
  
  .f label {
    display: block;
    font-weight: bold;
    /* margin-bottom: 5px; */
    color: #555;
  }
  
  .f input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .f input[type="text"],
  .f input[type="number"] 
  .f input[type="textarea"] {
    background-color: #fff;
  }
  
  .f button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .f button:hover {
    background-color: #0056b3;
  }
  
 